<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
      <connectionStrings >
        <!--<add name="ConStr" connectionString="Data Source=72.167.41.153;Initial Catalog=QIDSCMGoAirDB_Mirror; User ID=sa; Password=QID#tech#123" />-->
        <add name="ConStr" connectionString="Data Source=tcp:j7o0vkgih2.database.windows.net;Initial Catalog=SCM_GoAir; User ID=qidadmin; Password=Init#server123" />

        
        <add name="CAR_ReportGeneration.Properties.Settings.Qid_Act_StationdbConnectionString"
            connectionString="Data Source=.;Initial Catalog=Qid_Act_Stationdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key ="FileLoc" value ="C://SCMAutomailer"/>
    <add key ="SourceID" value ="17"/>
    <add key ="SMSUN" value="Quantumid"/>
    <add key ="SMSPASS" value="openme"/>
    <add key="reportfile" value="carreport"/>
    <add key="extention" value="xls"/>
    <add key ="mailtime" value ="11:20"/>
    <add key ="totime" value ="11:20"/>
    <add key ="mailfrom" value ="cargenerator@qidtech.com"/>
    <add key ="mailpass" value ="qidtech#1"/>
  </appSettings>
</configuration>