<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PrinterFile" value="D:\Products\SCM\DesktopPrinter"/>
    <add key="PortName" value="COM17"/>
    <add key="BaudRate" value="9600"/>
    <add key="OC3" value="1"/>
    <add key="lableHeading" value="Air Costa CARGO"/>
    <add key="hedingCmd" value="1911S0102650035P018P018"/>
    <add key="clientContact" value=""/>
    
  </appSettings>
</configuration>