<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <MSDeployServiceURL>https://78166b8cbba541d3aad3169a3be6d650.cloudapp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>ProjectSmartCargoManager_IN_0_Web</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>False</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>scmqid</UserName>
  </PropertyGroup>
</Project>